.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #005962;
  color: white;
  margin-top: 20px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
